textarea{
    width: 80%;
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
}
button{
    border-radius: 9%;
    background-color: rgb(245, 225, 110);
    color: rgb(253, 134, 23);
    border: gold;
    font-family: 'Permanent Marker', cursive;
    margin-right: 40%;
}

.header{
    background-color: rgb(245, 225, 110);
    text-align: center;
}

.heading1{
    color: rgb(253, 134, 23);
    font-family: 'Permanent Marker', cursive;
}
